a {
    color: black;
}

* {
    font-family: 'Mukta', sans-serif;
    font-size: 16pt;
}

h1 {
    color: #12486B;
    text-align: center;
    font-size: 46pt;
}

h2, h3 {
    color: #12486B;
    font-size: 20pt;
}

hr {
    color: #12486B;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #12486B;
}

.heading {
    background-color: #12486B;
    color: white;
    padding: 3%;
}

#intro {
    text-align: center;
}